.cor-verde{color:green;}
.cor-vermelho{color:red;}
.cor-azul{color:blue;}

.btn-verde {
    color: green;
    border: green solid 1px;
    border-radius: 5px;
    padding: 0.2em;
    cursor: pointer;
    margin: 0 1em;
    background: #78e878;
}

.btn-vermelho {
    color: red;
    border: red solid 1px;
    border-radius: 5px;
    padding: 0.2em;
    cursor: pointer;
    margin: 0 1em;
    background: #ff000061;
}

.btn-azul {
    color: blue;
    border: blue solid 1px;
    border-radius: 5px;
    padding: 0.2em;
    cursor: pointer;
    margin: 0 1em;
    background: #0000ff61;
}


.clicado{
    background: cadetblue;
    box-shadow: inset #212325 3px 3px 5px 0px;
}
.clicador:hover {
    background: #abd9da;
    color: #161919;
    text-shadow: #edf2f7 1px 1px;
}


.a-clicar{
    box-shadow: #212325 1px 1px 4px 0px;
    text-shadow: #edf2f7 1px 1px !important;
    background: #c3d5d6 !important;
    color: #161919 !important;
    cursor: pointer;
    transition: all 0.4s ease;
    /* outline: none; */
}
.a-clicar:hover{
    box-shadow: inset #212325 3px 3px 5px 0px;
    text-shadow: #212325 1px 1px !important;
    background: cadetblue !important;
    color: #fdfdfd !important;
    transition: all 0.4s ease;
    /* outline: none; */
}
.btn-posicao {
    padding: 0.5em;
    margin-left: 0.8em;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fdfdfd;
    text-shadow: #212325 1px 1px;
    cursor: pointer;
}

.bg-azul{
    background: #bfe0f38c;
}

.bg-verde{
    background: #1fd89c8c;
}
.link,a {
    text-decoration: none;
}
.link:hover {   
    text-decoration: underline;
}
.botao {
    text-align: center;
    color: #0c2c61;
    font-size: 1rem;
    font-weight: 200;
    /* background: transparent; */
    border: 1px solid #d0b6b6;
    border-radius: 4px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    padding: 2px 4px;
    margin: 0 2px;
}

.botao:hover {
    font-weight: 200;
    background: #bfe0f38c;
    border: 1px solid #1452758c;
}

.painel {
    border: 1px solid #d0b6b6;
    border-radius: 4px;
    transition: all 0.3s ease;
    padding: 4px;
    margin-left: 10% !important;
}
.top_box{    
        border-bottom: solid;
        border-width: 1px;
        padding-bottom: 5px;    
}
.bottom_box{    
        border-top: solid;
        border-width: 1px;
        padding: 5px 0;
        clear: both; 
}
.desc_box{
    border-style: dotted;
    border-width: 2px;
    margin: 2px 0;
    padding: 4px;
}
.padding-2{
    padding: 0 2%;
}
.padding-5{
    padding: 0 5%;
}
.padding-10{
    padding: 0 10%;
}
.padding-15{
    padding: 0 15%;
}
.borda_pontos {
    border-style: dotted;
    border-width: 2px;
    margin: 2px 0;
    padding: 4px;
    border-radius: 7px;
}
.desc_box pre {
    background: #cebbbb;
    resize: vertical;
    font-family: monospace;
    width: 94%;
    margin: 0 2%;
    border-radius: 5px;
    padding: 0 1%;
}
.desc_box img {
    max-width: 100px;
}
.quebralinha, pre, .desc_box {
    /* white-space: nowrap; */
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word !important;
    /* word-break: break-all !important; */
}
.oculta{
    display: none !important;
}
input[type="text"] {
    width: 95%;
    margin: 0 2%;
}
img.img_banner_float {
    max-width: 20%;
}
img.col-8 {
    max-width: 30%;
}
.input-95 {
    width: 95%;
    margin: 0 2%;
}
.float-r{
    float: right;
    margin: 14px 20px 2px;
}
.msg_alert{color: red;text-align: center; text-align: center;font-size: 1.125rem;font-weight: 200;line-height: 1.8;}


/* 95% input fields */
input[type=text],input[type=url], input[type=password] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}